@import "variables";

.main-header{
    height: 90px;
    padding: 0 40px;

    .main-logo{
        height: 50%;
    }

    .header-nav-item{
        a{text-decoration: none;}
    }
}

.dropdown-menu{
    transition: 0.15s ease;
    height: 0px;
    
    &.active{
        height: 305px;
    }

    .dropdown-item{
        height: 50px;
        text-decoration: none;
        border-top: 1px solid #fff; 
    }
}