//Overflow

.overflow-x-hide{overflow-x: hidden}

.overflow-y-hide{overflow-y: hidden}

.overflow-hide{overflow: hidden}

//Mics

.clickable{cursor: pointer;}

.no-outline{outline: none;}

.no-select{user-select: none;}

.no-events{pointer-events: none;}