.main-header {
  height: 90px;
  padding: 0 40px; }
  .main-header .main-logo {
    height: 50%; }
  .main-header .header-nav-item a {
    text-decoration: none; }

.dropdown-menu {
  transition: 0.15s ease;
  height: 0px; }
  .dropdown-menu.active {
    height: 305px; }
  .dropdown-menu .dropdown-item {
    height: 50px;
    text-decoration: none;
    border-top: 1px solid #fff; }
