@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
ul li {
  list-style: none; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  margin: 0; }

h1 {
  font-size: 29px;
  margin: 0;
  color: #303030; }

.head-menu-btn, .dropdown-menu, .mobile-btn {
  display: none !important; }

.bg-blue {
  background-color: #0168B4; }

.bg-red {
  background-color: #DC3545; }
